<h1 class="center">What Are You Looking For?</h1>
<!-- <ul>
	<li>Drinks</li>
	<li>Eats</li>
	<li>Date Night</li>
</ul> -->

<div class="row">
	<div class="col s12 m3 offset-m1">
		<img class="catImage" src=<%= "/images/drinks.jpeg" %>>
	</div>
	<div class="col s12 m3 offset-m1">
		<img class="catImage" src=<%= "/images/quickbites.jpeg"  %>>
	</div>
	<div class="col s12 m3 offset-m1">
		<img class="catImage" src=<%= "/images/datenight.jpeg" %>>
	</div>
</div>